Repository Bigeco/lvi-cifar100-classifier-pytorch, pull requests merged in 2024-09, with the labels that each got.

#1 Feat: Implement CifarDataset and add activation functions
  src/datasets/custom_dataset.py
  src/utils/activations.py
Labels: :sparkles:feature, data-preprocessing, :recycle:refactor

#2 Feat: implement top-k accuracy function
  src/evaluation/metrics.py
Labels: :sparkles:feature, evaluation

#3 Feat: extend top-k accuracy function for super classes
  src/evaluation/metrics.py
Labels: :sparkles:feature, evaluation

#4 Feat: improve project structure and add training Code
  evaluate.py
  requirements.txt
  src/config.py
  src/data/dataset.py
  src/datasets/custom_dataset.py
  src/utils/eval_utils.py
  src/utils/metrics.py
  src/utils/train_utils.py
  train.py
Labels: :sparkles:feature, training, evaluation, :recycle:refactor, accuracy-improvement

#5 Refactor: add transform settings in config.py and update function parameters
  src/config.py
  src/data/dataset.py
  src/utils/eval_utils.py
  src/utils/train_utils.py
  train.py
Labels: :sparkles:feature, training, evaluation, :recycle:refactor

#6 feat: add ResNet.py
  src/data/__pycache__/dataset.cpython-312.pyc
  src/models/ResNet.py
  train.py
Labels: model-architecture

#7 Fix: resolve error occurring in jupyter notebook
  src/data/__pycache__/dataset.cpython-312.pyc
  src/utils/train_utils.py
  train.py
Labels: :bug:bug

#8 feat: add ResNext.py
  src/models/ResNext.py
Labels: model-architecture
